body {
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    padding: 10px;
}
#search-bar {
    width: 30vw;
    height: 30px;
}

#wrapper {
    display: flex;
}

/* Video */
#video {
    width: 90vw;
    height: 500px;
    margin: 20px;
}

iframe {
    width: 100%;
    height: 100%;
}

#video-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#uploader-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#subscribe-button {
    background-color: red;
    color: white;
    padding: 10px;
}

#uploader {
    display: inline-block;
    padding: 20px;
}

#uploader-logo {
    border-radius: 50%;
}

/* Sidebar */
aside {
    margin: 20px;
    width: 40vw;
}

.recommended-video {
    display: flex;
    margin: 20px;
    height: 160px;
}

.recommended-video-description {
    padding: 10px;
}